[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
pytest-watch = "*"
model = {editable = true,path = "."}

[packages]
pyyaml = "*"
jsonschema = "*"
click = "*"
graphviz = "*"
aiohttp = "*"
jsonmerge = "*"
jmespath = "*"
jedi = "*"
jinja2 = "*"
requests = "*"
requests-file = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
