[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
pytest-watch = "*"
model = {editable = true,path = "."}
coverage = "*"

[packages]
pyyaml = "*"
jsonschema = "*"
click = "*"
aiohttp = "*"
jsonmerge = "*"
jmespath = "*"
jedi = "*"
jinja2 = "*"
requests = "*"
requests-file = "*"
boto3 = "*"
coloredlogs = "*"
gitignore-parser = "*"
hvac = {extras = ["parser"],version = "*"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
