[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
jupyter = "*"
jupyterlab = "*"

[packages]
pyyaml = "*"
jsonschema = "*"
hydra-colorlog = "*"
click = "*"
graphviz = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
